.tabs {
    .border-tabs {
        position: relative;
      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px ;
        height: 2px;
        width: 0;
        background-color: blue;
        transition: width 300ms ease-in;
      }
      &:hover:after {
      width: 100%;
      background-color: #555;
    }

    }
    .active.border-tabs:after  {
          content: '';
          width: 100%;
    }
    }
