.mainNav {
  flex-basis: auto;
  flex-shrink: 0;
  background: #1a1a1a;
  transition-delay: 250ms;


  .logo {
    @apply mb-4;
      margin: 16px 20px;
      position: relative;
      // width: 150px;
      height: 28px;
      text-indent: -100000px;
      text-decoration: none;
      background-color: transparent;
      background-image: url(/images/logo-sprite-@2x.png);
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 250px;
  }
  .logo:before,  .logo:after {
      content: '';
      display: block;
      height: 28px;
      background-color: transparent;
      background-repeat: no-repeat;
      background-size: 250px;
      background-image: url(/images/logo-sprite-@2x.png);
      transition: opacity 600ms, width 250ms;
      position: absolute;
      top: 0;
      left: 0;
  }
}
.transitionWidth {
  transition: width 500ms;
}
.main-nav-toggle {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 16px 20px;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #ccc;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: transform 400ms ease-in;
    & .icon-arrow-left {
              color: #aaa;
        // margin: 50% 0 0 50%;
        text-align: center;
    }
    .mirror {
        transform: rotateY(180deg);
    }
}

.main-nav-list{
  &::-webkit-scrollbar {
    width: 9px;
    height: 0;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #888;
    border-color: #1a1a1a;
    border-width: 0 2px;
    border-style: solid;
  }
}
